# Airline fare price prediction

Using the dataset provided by [lalit_joshi](https://www.kaggle.com/datasets/lalitjoshi89/airlinepriceprediction)

In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
#Loading "raw" data from csv

data = pd.read_csv(r'dataset/airlines_data.csv')
data.info

<bound method DataFrame.info of      ;Airline_Name;Date_of_Journey;Source;Destination;Dept_Time;Total_Stops;Duration_of_Flight;Arr_Time;Fare
0     0;AirAsia;26/02/2022;Kolkata;Mumbai;13:30;1 st...
1     1;AirAsia;26/02/2022;Kolkata;Mumbai;9:05;2 sto...
2     2;AirAsia;26/02/2022;Kolkata;Mumbai;16:15;1 st...
3     3;AirAsia;26/02/2022;Kolkata;Mumbai;23:40;1 st...
4     4;AirAsia;26/02/2022;Kolkata;Mumbai;20:00;1 st...
...                                                 ...
2016  2019;Vistara;10/7/22;Mumbai;Chennai;6:20;2 Sto...
2017  2020;Vistara;10/7/22;Mumbai;Chennai;11:25;2 St...
2018  2021;Vistara;10/7/22;Mumbai;Chennai;6:45;2 Sto...
2019  2022;Vistara;10/7/22;Mumbai;Chennai;9:05;2 Sto...
2020  2023;Vistara;10/7/22;Mumbai;Chennai;7:00;2 Sto...

[2021 rows x 1 columns]>

### The Dataset

The data comes in a excel file format which I re-exported as a csv directly from Excel (note this could have been done using python too.)

In the data we have 10 variables and 2021 features. But we get all in 1 column due to the file being delimeted by semicolon. Lets fix that!

In [24]:
#Formating the columns to display the dataframe correctly

data = pd.read_csv(r'dataset/airlines_data.csv', delimiter=';')
data

,Unnamed: 0,Airline_Name,Date_of_Journey,Source,Destination,Dept_Time,Total_Stops,Duration_of_Flight,Arr_Time,Fare
0,0,AirAsia,26/02/2022,Kolkata,Mumbai,13:30,1 stop,07 h 05 m,20:35,3 379
1,1,AirAsia,26/02/2022,Kolkata,Mumbai,9:05,2 stop,13 h 10 m,22:15,3 379
2,2,AirAsia,26/02/2022,Kolkata,Mumbai,16:15,1 stop,08 h 20 m,0:35,3 379
3,3,AirAsia,26/02/2022,Kolkata,Mumbai,23:40,1 stop,06 h 55 m,6:35,3 379
4,4,AirAsia,26/02/2022,Kolkata,Mumbai,20:00,1 stop,10 h 35 m,6:35,3 379
...,...,...,...,...,...,...,...,...,...,...
2016,2019,Vistara,10/7/22,Mumbai,Chennai,6:20,2 Stop,13h 55m,20:15,15 192
2017,2020,Vistara,10/7/22,Mumbai,Chennai,11:25,2 Stop,11h 20m,22:45,16 442
2018,2021,Vistara,10/7/22,Mumbai,Chennai,6:45,2 Stop,13h 30m,20:15,16 442
2019,2022,Vistara,10/7/22,Mumbai,Chennai,9:05,2 Stop,11h 10m,20:15,17 282
2020,2023,Vistara,10/7/22,Mumbai,Chennai,7:00,2 Stop,13h 15m,20:15,17 282

In [30]:
#Checking data types

data.dtypes

Unnamed: 0             int64
Airline_Name          object
Date_of_Journey       object
Source                object
Destination           object
Dept_Time             object
Total_Stops           object
Duration_of_Flight    object
Arr_Time              object
Fare                  object
dtype: object

In [31]:
# Checking for missing values

data.isnull().sum()

Unnamed: 0            0
Airline_Name          0
Date_of_Journey       0
Source                0
Destination           0
Dept_Time             0
Total_Stops           0
Duration_of_Flight    0
Arr_Time              0
Fare                  0
dtype: int64

### **Good!** and **Bad!**

Now there are some obvious observations that need to be address such as:

- The first `Unnamed` column is redundant  and needs to be drop as it seems to be a count or represntation of the index.
- The is inconsistenacy on the date format on the `Date_of_Journey` column
- The `Total_Stops` Column should be converted to numerical, the word 'Stop' is not necessary.

A lot of our data is not the proper type such as:
- `Date_of_Journey` should be `date64`
- `Dept_Time`, `Arr_time`, `Duration_of_Flight` should be `timedelta`
- `Total_Stops` should be `int` (and modified to be numerical as mentiona above)
- `Fare` should be `int`

It would be a good idea to change the name of the columns to shorter names.